@import url('https://fonts.googleapis.com/css2?family=Londrina+Sketch&display=swap');
* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  font-family: "Londrina Sketch", sans-serif;
  font-weight: 900;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
}

header {
  border-radius: 20px;
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  background-color: white;
  color: black;
  margin-top: 100px;
}

header h1 {
  margin: 0;
  color: black;
}

header input, header select {
  margin-top: 10px;
  padding: 8px;
  width: 90%;
  max-width: 400px;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.card {
  background-color: rgba(67, 61, 61, 0.844);
  border: 1px solid gray;
  border-radius: 8px;
  width: 300px;
  margin: 10px;
  padding: 15px;
  transition: transform 0.2s;
}

.card:hover {
  box-shadow: 0px -10px 80px rgba(252, 251, 251, 0.71);
  transform: scale(1.05);
}

.card h2 {
  font-size: 1.5em;
  margin-top: 0;
}

.card p {
  font-size: 0.9em;
  color: white;
}

.card a {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 12px;
  background-color: transparent;
  border: 2px solid black;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  width: 20%;
  transition: width 1s;
}

.card a:hover {
  width: 100%;
  text-align: center;
 
  box-shadow: 0px -10px 80px rgba(252, 251, 251, 0.71);
  transform: scale(1.05);
}

@media only screen and (max-width: 1128px) {
  header {
    width: 80%;
  }